body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #5f52d9;
}
nav, header, section {
	background: #1bc6fa;
	padding: 20px;
	margin: 20px 15px;
	border: 10px;
	border-style: solid;
	border-color: rgb(79, 83, 81);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2{
	color: blue;
}