body{
    background-image: url(../../img/grupo1/image_2615043e.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment:local
}
h1{
    color: beige;
}